.neonText-pink {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px  #ff34b3,
        0 0 82px  #ff34b3,
        0 0 92px  #ff34b3,
        0 0 102px #ff34b3,
        0 0 151px #ff34b3
}

.neonText-blue {
    color: #fff;
    text-shadow:
        0 0 1px #fff,
        0 0 1px #fff,
        0 0 15px #fff,
        0 0 30px #55e7ff,
        0 0 20px#55e7ff,
        0 0 92px#55e7ff,
        0 0 102px#55e7ff,
        0 0 151px#55e7ff
}


@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    }
    30%, 20%, 55% {       
      text-shadow: none;
    }
}


.menu ul {  
    margin: 0;
    padding-left: 0; 
    list-style-type: none; 

    border: 0.2rem solid #fff;
    border-radius: 10px;
   

    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #bc13fe,
                0 0 0.8rem #bc13fe,
                0 0 2.8rem #bc13fe,
                inset 0 0 1.3rem #bc13fe;


    display: flex;
    justify-content: center; 
}
 
.menu a { 
    display: block; 
    padding: 10px 30px;  
    color: white;
    
    text-decoration: none;  
    text-transform: uppercase;
    font-size: 16px;  
}


.menu a:hover {  
    animation: flicker 1.5s infinite alternate;   

}

.menu li { position: relative; } 

.menu li ul { 
	opacity: 0;
    position: absolute; 
    top: 100%; 
	z-index: 1000;
    visibility: hidden;
    
}
.menu li:hover ul { 
    margin-left: 10px;
    display: block;
    visibility: visible;
    opacity: 1;
    border: none;
    
    background-color: #201148;
    border: 0.1rem solid #fff;
   

 


    
    
} 


.menu ul li ul li {	display: block; }

li.has-submenu > a:after { 
	content: "\A0 \25BC"; /* down arrow */
	padding-left: 3px;
	font-size: 13px; 
	color: #ffffff; 
} 